@font-face {
  font-family: 'Extenda';
  src: url('https://sitraka-rkt.github.io/Extenda80/Extenda-70Peta.woff2') format('woff2'),
       url('https://sitraka-rkt.github.io/Extenda80/Extenda-70Peta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Extenda', Lato, sans-serif;
}
